// Hero Topic
//
// markup: hero--topic.twig
//
// Weight: 1
//
// Style guide: organisms.hero.topic


@import "settings";

.hero--topic {

  .hero-footer {
    padding: 0 0 1rem;
  }

  .page-title {
    padding-top: 0;
  }

  .topic_type {
    font-weight: 500;
  }

  .hero__topic-type {
    width: 18px;
    height: 18px;
    vertical-align: top;
    display: inline-block;
  }

  .hero__topic-type-icon {
    width: 18px;
    height: 18px;
    fill: white;
  }

}