// Hero
//
// markup: hero.twig
//
// Weight: 1
//
// Style guide: organisms.hero


@import "settings";

// Used on a hero block that can hold a background image.
.cover {
  color: white;
  background: linear-gradient(59deg, $brand-primary 0%, $brand-secondary 75%);
}

.cover-img {
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.hero__bgimage-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(59deg, rgba($brand-secondary, 0.1) 0%, rgba($brand-secondary, 0.7) 100%);
}

.page-title {
  color: white;
  font-family: 'Oswald', sans-serif;
}

.hero-avatar {
  border-radius: 50%;
  border: 2px solid white;

  @include for-tablet-portrait-up {
    border-width: 3px;
  }

}

.hero-canvas {
  border-radius: $border-radius-base;
  background-color: rgba($gray-dark, 0.8);
  color: white;
}

.hero-form[role='search'] {

  .form-control {
    border-radius: $input-border-radius;

    &:focus,
    &:active,
    &:focus ~ .search-icon,
    &:active ~ .search-icon {
      border-bottom: 1px solid $brand-secondary;
      box-shadow: 0 2px 0 0 $brand-secondary;
    }

  }

  .form-submit,
  .search-icon {
    border-radius: 0 $input-border-radius $input-border-radius 0;
  }

  .search-icon {
    fill: $brand-primary;
    background: white;
  }

}

.hero {

  .cover-wrap {
    justify-content: flex-end;

    .hero-footer {
      padding: 0 0 1rem;
    }

    .page-title {
      padding-top: 0;
    }

  }

}

.node_type {
  font-weight: 500;
  display: inline-block;
  color: white;
}