// Hero Profile
//
// markup: hero--profile.twig
//
// Weight: 2
//
// Style guide: organisms.hero.profile


@import "settings";

.hero--profile {

  .page-title {
    color: white;
    font-family: 'Oswald', sans-serif;

    @include for-tablet-landscape-up {
      padding-top: 4rem;
      padding-bottom: 0;
    }
  }

  .hero-footer {
    padding: 0 0 2rem;

    @include for-tablet-landscape-up {
      display: flex;
      align-items: center;
      align-self: flex-end;
    }
  }

}

.badge--practitioner {
  margin-top: 1rem;
}

.practitioner_icon {
  display: none;
}
