// Teaser tile
//
// markup: teaser-tile.twig
//
// Weight: 1
//
// Style guide: molecules.teaser.tile

// Teaser discussion
//
// markup: teaser-tile--discussion.twig
//
// Weight: 2
//
// Style guide: molecules.teaser.discussion

// Teaser event
//
// markup: teaser-tile--event.twig
//
// Weight: 2
//
// Style guide: molecules.teaser.event

// Teaser topic
//
// markup: teaser-tile--topic.twig
//
// Weight: 2
//
// Style guide: molecules.teaser.topic

// Teaser group
//
// markup: teaser-tile--group.twig
//
// Weight: 2
//
// Style guide: molecules.teaser.group

@import 'settings';

// Tile teasers
.views-overview,
.views-tile-container,
.view-newest-users,
.view-latest-topics,
.view-upcoming-events,
.view-newest-groups,
.view-group-events,
.view-group-topics,
.view-group-members,
.view-event-enrollments,
.view-events,
.view-topics,
.view-groups {

  @include for-tablet-portrait-up {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  // Enrollments page
  .section-title {
    text-align: left;
    flex-basis: 100%;
  }

  .pager-nav {
    flex: 0 0 100%;
  }

}

.teaser--tile {
  text-align: left;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
  height: unset;

  // IE11 hack
  @media screen\0 {
    height: 400px;
  }

  @include for-tablet-portrait-up {
    flex: 1 0 48%;
    max-width: 48%;
    margin: 0 0 1.5rem;
  }

  .teaser__title {
    //@include multiLineEllipsis(1.2em, 2, white);
    max-height: unset;
    color: $brand-primary;
    margin: 0 0 1.5rem;
    font-size: 1.5rem;
    padding-right: 0;
  }

  p {
    margin: 2rem 0 0;
    color: $default-color;
  }

  .line-after-title {
    width: 40%;
    border-bottom: 3px solid $gray-lighter;
    margin-bottom: 0.5em;
  }

  .teaser__content-line {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
  }

  .teaser__content-type-icon {
    fill: $gray-light-1;
  }

  .teaser__image a {
    display: block;
  }

  .teaser__content-text {
    white-space: normal;
  }

  .card__link {
    margin: 0;
    color: $brand-secondary;
    font-weight: 700;
    text-align: right;
    display: block;
  }

  .slogan {
    margin-top: -1rem;
    margin-bottom: 1.5rem;
    color: $gray-light;
    font-weight: 500;
  }

}


// If the view consists of all the same teasers, the icon is redundant
.view-latest-topics,
.view-events,
.view-topics,
.view-upcoming-events,
.view-groups,
.view-newest-groups {

  .teaser__teaser-type {
    //display: none;
  }

}
