{{ attach_library('demo/image--profile')}}

<div class="teaser__image profile__image">

  <a href="{{ profile_contact_url }}">
    <div class="img_wrapper">
      {{ image }}
    </div>
  </a>

</div>