{% if visibility_icon and visibility_label %}
  <div class="badge teaser__badge" title="{% trans %}The visibility of this content is set to {% endtrans %}{{ visibility_label }}">
    <svg class="badge__icon">
      <use xlink:href="#icon-{{ visibility_icon }}"></use>
    </svg>
  </div>
{% endif %}