{{ attach_library('demo/badge--practitioner')}}

<span class="practitioner_icon">
  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
    <polygon fill="#00689D" points="14 4.954 8.967 4.529 7 0 5.033 4.536 0 4.954 3.822 8.19 2.674 13 7 10.448 11.326 13 10.185 8.19"/>
  </svg>
</span>
