.cover {
  color: white;
}

.page-title {
  color: white;
}

.hero-avatar {
  border-radius: 50%;
  border: 2px solid white;
}

.hero-canvas {
  border-radius: 5px;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
}

.node_type {
  font-weight: 500;
  display: inline-block;
  color: white;
}

.hero__content {
  -ms-flex: 1;
      flex: 1;
  padding: 20px;
  position: relative;
}

.teaser__content-line {
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  font-size: 0.875rem;
}

.teaser__content-type-icon {
  width: 14px;
  height: 14px;
  -ms-flex: 0 0 14px;
      flex: 0 0 14px;
  line-height: 21px;
  margin-top: 3px;
  fill: #555555;
  margin-right: 12px;
}

.teaser__content-text {
  line-height: 21px;
  -ms-flex-positive: 1;
      flex-grow: 1;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

@media (min-width: 600px) {

  .hero-avatar {
    border-width: 3px;
  }
}
