.paragraph--cta-banner {
  height: 400px;
}

.paragraph--cta-banner .cover-wrap {
  -ms-flex-pack: center;
      justify-content: center;
  min-height: 400px;
}

.paragraph--cta-banner .page-title {
  padding-bottom: 2rem;
}

.paragraph--cta-banner .page-title h2 {
  margin: 0;
  text-align: center;
  font-size: 3.5rem;
}

.paragraph--cta-banner .btn {
  padding: 1rem 1rem;
}

.paragraph--cta-banner .btn-flat {
  border: 2px solid white;
  color: white;
}

.paragraph--cta-banner .btn-default {
  color: #1f80aa;
}

.paragraph--cta-banner .hero-footer {
  padding-bottom: 0;
  -ms-flex-pack: center;
      justify-content: center;
}

@media (min-width: 1200px) {

  .paragraph--section .paragraph--cta-banner {
    margin-left: calc(-100vw / 2 + 1200px / 2);
    margin-right: calc(-100vw / 2 + 1200px / 2);
  }
}
