<div class="field field--name-field-hero-buttons field--label-hidden field--items">
  <div class="field--item">
    <div class="paragraph paragraph--button">

      <div class="card__actionbar">

          {% for item in button %}
            <div class="btn btn-lg waves-effect waves-btn waves-light {{ item.class }}">
              {% if logged_in %}
                {{ item.button_link_lu }}
              {% else %}
                {{ item.button_link_an }}
              {% endif %}
            </div>
          {% endfor %}

      </div>

    </div>
  </div>
</div>