{% if comment_count > 0 %}
  <a href="{{ url }}#section-comments" class="badge badge--pill badge-default teaser__badge">
    <span class="badge__container">
      <svg class="badge__icon">
        <use xlink:href="#icon-comment"></use>
      </svg>
      <span class="badge__label">{{ comment_count }}</span>
    </span>
  </a>
{% endif %}
