{{ attach_library('demo/image--profile')}}

<div class="teaser__image profile__image">

  <a href="{{ profile_contact_url }}">
    <div class="img_wrapper">
      <!-- this should be wrapped in a conditional -->
      {% include '@demo/02-atoms/badge/badge--practitioner_icon.twig' %}
      {{ image }}
    </div>
  </a>

</div>