// Images
//
// Style guide: atoms.image

// Teaser Image
//
// markup: image--teaser.twig
//
// Weight: 1
//
// Style guide: atoms.image.teaser

@import 'settings';

.teaser__image {

  @include for-tablet-portrait-up {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background: $gray-lighter;
  }

}

.teaser__teaser-type {
  background-color: white;
  border-radius: 0 0 ($card-border-radius - 2px) ($card-border-radius - 2px);
  z-index: 1;

  @include for-tablet-portrait-up {
    border-radius: 0 0 $card-border-radius 0;
  }

}

.teaser__teaser-type-icon {
  fill: $brand-primary;
}

.teaser--tile {

  .teaser__image {
    flex: 0 0 auto;
    display: block; //override display none
    height: auto;
    background: transparent;
    overflow: hidden; //prevent image going over rounded corners
    border-radius: ($card-border-radius - 2px) ($card-border-radius - 2px) 0 0;

    @include for-tablet-portrait-up {
      background-color: transparent;
    }
  }

  .teaser__teaser-type {
    width: 30px;
    height: 30px;
    padding: 6px;
  }

}

.teaser--tile.teaser--topic {

  .teaser__teaser-type {
    padding: 8px;
  }

  .teaser__teaser-type-icon {
    width: 12px;
    height: 12px;
  }

}