<button class="button button--accent js-form-submit form-submit btn-lg btn
js-form-submit btn-accent waves-effect waves-btn waves-light" type="submit"
        value="Enroll">{% trans %}Enroll{% endtrans %}</button>